<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844252760567-1nln8rm2ia0hkrnet7lgdhcer2heaqp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844252760567-1nln8rm2ia0hkrnet7lgdhcer2heaqp7</string>
	<key>API_KEY</key>
	<string>AIzaSyBeMNxfuIRP7J2dUzMlvr719yDLM5fQiOk</string>
	<key>GCM_SENDER_ID</key>
	<string>844252760567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.money.mouth</string>
	<key>PROJECT_ID</key>
	<string>money-mouth-ac565</string>
	<key>STORAGE_BUCKET</key>
	<string>money-mouth-ac565.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844252760567:ios:54bb703a5356d56792c6f2</string>
</dict>
</plist>